footer {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
footer a {
  text-decoration: none;
  line-height: 50px;
  color: #ffffff;
}
footer li:hover {
  transition: all 1s;
  cursor: pointer;
  filter: invert(26%) sepia(15%) saturate(638%);
}
.footer_left {
  line-height: 50px;
  color: #ffffff;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 182px;
  height: 50px;
}
.footer_right img {
  width: 32px;
  height: 32px;
}
footer ul {
  width: 188px;
  height: 50px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  footer {
    height: 190px;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }
  .footer_left {
    margin: 28px auto 0;
  }
  .footer_right {
    margin: 0 auto 28px;
  }
  footer ul {
    margin: auto;
  }
}
