@import url(./header.css);
@import url(./hero.css);
@import url(./skills.css);
@import url(./portfolio.css);
@import url(./video.css);
@import url(./price.css);
@import url(./season.css);
@import url(./footer.css);
@import url(./contacts.css);

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --background-dark: #000000;
  --section-title-dark: #bdae82;
  --hover-dark: #ffffff;
  --active-dark: #ffffff;
  --background-light: #ffffff;
  --section-title-light: #000000;
  --hover-light: #bdae82;
  --active-light: #000000;
}
body.dark {
  --background: var(--background-dark);
  --section-title: var(--section-title-dark);
  --hover: var(--hover-dark);
  --active: var(--active-dark);
}
body.light {
  --background: var(--background-light);
  --section-title: var(--section-title-light);
  --hover: var(--hover-light);
  --active: var(--active-light);
}
body {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  background: top no-repeat url(../img/backgrounds/hero.png) var(--background);
}
body.lock {
  overflow: hidden;
}
a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
a.active,
a:hover {
  color: #bdae82;
  transition: color 0.3s;
}
.section-title {
  margin: 100px auto 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 80px;
  position: relative;
}
.section-title:before {
  background-color: var(--section-title);
  content: "";
  position: absolute;
  top: 50%;
  height: 2px;
  width: 100%;
  z-index: -1;
  background-position: center;
}
.section-title h3 {
  font-family: Merriweather, sans-serif;
  font-weight: bold;
  font-size: 40px;
  padding: 0 20px;
  background: var(--background);
  color: var(--section-title);
}

@media screen and (max-width: 768px) {
  body {
    background: top no-repeat url(../img/backgrounds/hero1.png)
      var(--background);
  }
  .section-title {
    width: 364px;
  }
  .section-title h3 {
    font-size: 32px;
  }
  .section-title {
    margin: 100px auto 40px;
  }
}
@media screen and (max-width: 500px) {
  .section-title {
    width: 90%;
  }
}
