.skills_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
.skill_item {
  text-align: center;
  width: 320px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill_item h4 {
  color: var(--section-title);
  width: 280px;
  height: 40px;
  top: 100px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 40px;
  margin-top: 50px;
}
.skill_item p {
  margin-top: 21px;
  width: 280px;
  font-size: 18px;
  line-height: 36px;
  color: var(--section-title);
}
@media screen and (max-width: 1360px) {
  .skills_items {
    width: 728px;
    gap: 20px;
    margin: 0 auto 80px;
  }
  .skill_item p {
    line-height: 22px;
  }
}
@media screen and (max-width: 762px) {
  .skills_items {
    width: 80%;
    gap: 44px;
    margin: 0 auto 80px;
  }
}
