/* .burger {
  margin-left: 20px;
}
.burger:before {
  position: absolute;
  top: 28px;
  content: "-";
}
.burger:after {
  position: absolute;
  top: 40px;
  right: 20px;
  content: "-";
/* }
.burger:hover { */
  /* color: #bdae82;
  transition: all 0.5s;
  cursor: pointer;
} */ 

/* 
@media screen and (max-width: 1400px) {
  .prise_items {
    display: flex;
    justify-content: center;
    width: 768px;
    margin: 0 auto;
  }
  .skills_items {
    max-width: 728px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 34px;
  }
  .form {
    margin: 0 auto;
    position: relative;
    left: 159px;
    top: 60px;
    padding: 0;
    margin: 0;
  }
}
@media screen and (min-width: 900px) {
  .burger {
    display: none;
  }
}
@media screen and (max-width: 930px) {
  .nav {
    display: none;
  }
  .season {
    width: 445px;
    margin: 0 auto;
  }
  .section-title {
    width: 364px;
  }
  .section-title h3 {
    font-size: 32px;
  }
  .hero {
    height: 590px;
  }
  .hero div h1 {
    font-size: 32px;
  }
  .hero p {
    width: 390px;
  }
  .hero div {
    position: absolute;
    left: 60px;
    top: 168px;
  }
} */
